<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/contact.css" type="text/css" rel="stylesheet">
    <title>Contact Form</title>
</head>
<body>
    <div class="top-right-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
    </div>

    <h1>Contact Us</h1>

    </div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" data-border-radii="&#123;&quot;topLeft&quot;:&#123;&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0&#125;,&quot;topRight&quot;:&#123;&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0&#125;,&quot;bottomLeft&quot;:&#123;&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0&#125;,&quot;bottomRight&quot;:&#123;&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0&#125;&#125;" id="block-yui_3_17_2_1_1622779294262_2835"><div class="sqs-block-content">
    
    <div class="sqs-html-content">
        <p class="" style="white-space:pre-wrap;">For reporting bugs, or sharing feedback, use the contact form below.</p>
    </div>

    <form method="POST" action="/contact">
        <div class="field-list clear">

            <div id="emailAddress" class="form-item field email required">
                <label class="title" for="email-yui_3_17_2_1_1555014059115_8408-field">
                    Email
                    <span class="required" aria-hidden="true">(Required)</span>
                </label>
            
                <input
                    class="field-element"
                    name="email"
                    type="email"
                    autocomplete="email"
                    spellcheck="false"
                    placeholder="CONTACT FORM NOT CURRENTLY FUNCTIONAL"
                    aria-required="true"
                />
            </div>

            <div id="messageArea" class="form-item field textarea required">
                <label class="title" for="textarea-yui_3_17_2_1_1555014059115_8410-field">
                    Message
                    <span class="required" aria-hidden="true">(Required)</span> 
                </label>
                
                <input
                    class="field-element "
                    id="textarea-yui_3_17_2_1_1555014059115_8410-field"
                    name="message"
                    placeholder="CONTACT FORM NOT CURRENTLY FUNCTIONAL"
                    aria-required="true"
                ></input>
            </div>
        </div>

        <div data-animation-role="button"
        class="
            form-button-wrapper
            form-button-wrapper--align-center
        "
        >
        <input
            class="button sqs-system-button sqs-editable-button sqs-button-element--primary"
            type="submit"
            value="Send"
        />
        </div>
    </form>
    
</body>
</html>